ion-searchbar {
  --background: var(--ion-color-primary-shade);

  // Set the color for the text inside the searchbar input
  --color: var(--ion-color-primary-contrast);

  // Set the color for the placeholder text
  --placeholder-color: --ion-color-primary-contrast-rgb; /* Slightly transparent white for better visibility on a darker background */

  // Set the color for the search icon and the clear button icon
  --icon-color: var(--ion-color-primary-contrast);
}

.empty-state {
  text-align: center;
  color: var(--ion-color-medium);
  margin-top: 3rem;
}

.empty-state ion-icon {
  display: block;
  margin: 0 auto 0.5rem;
}

