<ion-header>
    <ion-toolbar>
        <ion-title> {{ isLogin ? 'Login' : 'Signup' }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form [formGroup]="authForm" (ngSubmit)="onSubmit(authForm)">
        <ion-grid>
            <ion-row>
                <ion-col size-md="6" offset-md="3">
                    <ion-list>
                        @if(!isLogin) {
                            <ion-item>
                                <ion-input label="First Name" labelPlacement="floating" placeholder="Enter first name" formControlName="firstName"></ion-input>
                            </ion-item>
                            @if (firstName?.invalid && firstName?.touched) {
                                @if (firstName?.errors?.['required']) {
                                    <ion-text color="danger" class="ion-padding-start error-message">First name is required.</ion-text>
                                }
                            }
                            <ion-item>
                                <ion-input label="Last Name" labelPlacement="floating" placeholder="Enter last name" formControlName="lastName"></ion-input>
                            </ion-item>
                            @if (lastName?.invalid && lastName?.touched) {
                                @if (lastName?.errors?.['required']) {
                                    <ion-text color="danger" class="ion-padding-start error-message">First name is required.</ion-text>
                                }
                            }
                        }
                        <ion-item>
                            <ion-input label="Email"
                                       labelPlacement="floating"
                                       placeholder="Enter email"
                                       type="email"
                                       formControlName="email"
                            ></ion-input>
                        </ion-item>
                        @if (email?.invalid && email?.touched) {
                            @if (email?.errors?.['required']) {
                                <ion-text color="danger" class="ion-padding-start error-message">Email is required.</ion-text>
                            }
                            @if (email?.errors?.['email']) {
                                <ion-text color="danger" class="ion-padding-start error-message">Please enter a valid email.
                                </ion-text>
                            }
                        }
                        <ion-item>
                            <ion-input label="Password"
                                       labelPlacement="floating"
                                       placeholder="Enter password"
                                       type="password"
                                       formControlName="password"
                            ></ion-input>
                        </ion-item>
                        @if (password?.invalid && (password?.touched || password?.dirty)) {
                            @if (password?.errors?.['required']) {
                                <ion-text color="danger" class="ion-padding-start">Password is required.</ion-text>
                            }
                            @if (password?.errors?.['minlength']) {
                                <ion-text color="danger" class="ion-padding-start">Password must have minimum of 6 characters.
                                </ion-text>
                            }
                        }
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-md="6" offset-md="3">
                    <ion-button type="button" color="secondary" fill="clear" expand="block" (click)="switchAuthMode()">
                         Switch to {{ isLogin ? 'Signup' : 'Login' }}
                    </ion-button>
                    <ion-loading #ionLoading message="{{ isLogin ? 'Logging in...' : 'Signing up...' }}" spinner="circles"
                                 [isOpen]="loading"></ion-loading>
                    <ion-button type="submit" fill="solid" expand="block" id="login" color="primary" [disabled]="authForm.invalid">
                        {{ isLogin ? 'Login' : 'Signup' }}
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
