// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {

  --ion-color-primary: #81eebf;
  --ion-color-primary-rgb: 129,238,191;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #72d1a8;
  --ion-color-primary-tint: #8ef0c5;

  --ion-color-secondary: #a82d1f;
  --ion-color-secondary-rgb: 168,45,31;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #94281b;
  --ion-color-secondary-tint: #b14235;

  --ion-color-tertiary: #7a6da2;
  --ion-color-tertiary-rgb: 122,109,162;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #6b608f;
  --ion-color-tertiary-tint: #877cab;

  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-color: var(--ion-color-primary-contrast);

  --ion-tab-bar-background: var(--ion-color-primary);
  --ion-tab-bar-color: var(--ion-color-primary-contrast);
  --ion-tab-bar-background-focused: var(--ion-color-primary-shade);
  --ion-tab-bar-color-selected: var(--ion-color-tertiary);
}
