<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button default-href="/places/tabs/offers"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ place?.title }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    @if (fetchLoading) {
        <ion-grid>
            <ion-row>
                <ion-col size="12" size-md="6" offset-md="3" class="ion-text-center">
                    <ion-spinner color="primary"></ion-spinner>
                </ion-col>
            </ion-row>
        </ion-grid>
    } @else {
        <ion-grid class="ion-no-padding">
            <ion-row>
                <ion-col size-sm="6" offset-sm="3" class="ion-no-padding">
                    <ion-img [src]="place.imageUrl" style="width: 400px; height: 400px"></ion-img>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3" class="ion-text-center">
                    <p>{{ place.description }}</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6" class="ion-text-center">
                    <h4>Available from</h4>
                    <p>{{ place.availableFrom.toDate() | date }}</p>
                </ion-col>
                <ion-col size="6" class="ion-text-center">
                    <h4>Available to</h4>
                    <p>{{ place.availableTo.toDate() | date }}</p>
                </ion-col>
            </ion-row>
            @if(hasPlaceFutureBookings) {
                <ion-row>
                    <ion-col size-sm="6" offset-sm="3" class="ion-text-center ion-padding-top">
                        <ion-text color="tertiary">{{place.title}} has future bookings</ion-text>
                    </ion-col>
                </ion-row>
            }
            <ion-row>
                <ion-col class="ion-text-center ion-padding-top ion-padding-end ion-padding-start">
                    <ion-button class="ion-margin"
                                color="primary"
                                expand="block"
                                [disabled]="hasPlaceFutureBookings"
                                [routerLink]="['/', 'places', 'tabs', 'offers', 'edit', place?.id]">Edit</ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="ion-text-center ion-padding-end ion-padding-start">
                    <ion-button class="ion-margin"
                                color="secondary"
                                expand="block"
                                [disabled]="hasPlaceFutureBookings"
                                (click)="onDeleteOffer()">Delete</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>

    }
</ion-content>

