<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button slot="icon-only" (click)="onCancel()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{ place().title }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
    <p> {{ place().description }} </p>
    <p> {{ place().description }} </p>
    <p> {{ place().description }} </p>
    <p> {{ place().description }} </p>
    <p> {{ place().description }} </p>
    <p> {{ place().description }} </p>
    <p> {{ place().description }} </p>
    <p> {{ place().description }} </p>
    <p> {{ place().description }} </p>
    <p> {{ place().description }} </p>
    <p> {{ place().description }} </p>
    <p> {{ place().description }} </p>
    <p> {{ place().description }} </p>
    <p> {{ place().description }} </p>
    <p> {{ place().description }} </p>
    <p> {{ place().description }} </p>
    <p> {{ place().description }} </p>
    <p> {{ place().description }} </p>
    <p> {{ place().description }} </p>
    <p> {{ place().description }} </p>
    <p> {{ place().description }} </p>
    <p> {{ place().description }} </p>
    <p> {{ place().description }} </p>
    <p> {{ place().description }} </p>
    <p> {{ place().description }} </p>
    <p> {{ place().description }} </p>
    <p> {{ place().description }} </p>
    <p> {{ place().description }} </p>
    <p> {{ place().description }} </p>
    <p> {{ place().description }} </p>
    <p> {{ place().description }} </p>
    <p> {{ place().description }} </p>
    <ion-button color="primary" (click)="onBookPlace()">Book!</ion-button>
    <ion-button color="primary" (click)="onBookPlace()">Book!</ion-button>
    <ion-button color="primary" (click)="onBookPlace()">Book!</ion-button>
</ion-content>

